%ul.nav.nav-list.source-list
  %li
    = link_to recent_sources_path do
      %i.icon-book
      Recent 
  %li
    = link_to popular_sources_path do
      %i.icon-star
      Popular
  %li
    = link_to suggested_sources_path do
      %i.icon-ok-sign
      Suggested
