%li.source{:class => source.state_classes}
  %dl
    %dt.subscription-title
      - if source.subscription
        == #{source.subscription.title} - 
    %dd.source-title
      = link_to source.url, :rel => url_for(source) do
        = source.title
