%li.source{:class => source.state_classes}
  %dl
    %dt.subscription-title
      - if source.subscription
        == #{source.subscription.title} - 
    %dd.source-title
      = link_to source.url, :rel => url_for(source), :'data-source-id' => source.id, :'data-user-id' => active_user.id do
        = source.title
