%h2 Welcome Back!
%h3 Your Sources
= render @sources
= link_to "Get The Bookmarklet", new_source_path

%h3 Your Subscriptions
= render @subscriptions
= link_to "Discover New Audio", popular_subscriptions_path
