%ul.nav.nav-list
  %li.nav-header Sources
  = render :partial => 'sources/nav'

  %li.nav-header Subscriptions
  = render :partial => 'subscriptions/nav'

  %li.nav-header Bookmarklet
  %li= link_to "Learn More", '/pages/bookmarklet'
