%ul.nav.nav-list
  %li
    = link_to recent_subscriptions_path do
      %i.icon-library
      Recent Subscriptions
  %li
    = link_to popular_subscriptions_path do
      %i.icon-star
      Popular Subscriptions
  %li
    = link_to suggested_subscriptions_path do
      %i.icon-vote
      Suggested Subscriptions
  %li
    = link_to new_subscription_path do
      %i.icon-plus
      Create Subscription
