%ul.nav.nav-list.subscription-list
  %li
    = link_to recent_subscriptions_path do
      %i.icon-book
      Recent 
  %li
    = link_to popular_subscriptions_path do
      %i.icon-star
      Popular
  %li
    = link_to suggested_subscriptions_path do
      %i.icon-ok-sign
      Suggested 
  %li
    = link_to new_subscription_path do
      %i.icon-plus
      Create Subscription
