.hero-unit
  %h1= @subscription.series.title
  %p #{@subscription.unlistened_source_count} New Sources of #{@subscription.sources.count}

= link_to "View Sources", series_sources_path(@subscription.series)
