body{
  font-size: 100%;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.6875;
  background-image: linear-gradient(to bottom, #d0c6bd, #353430);
}

a{
  text-decoration: none;
  color: $dark-grey;
}


