


.bookmarklet{}

#main{
  @extend .span9;
}

#side{
  @extend .span3;
  margin-top: 100px;
}

.hero-unit{
  /*background: image-url('tape.png') 50px 50px no-repeat;*/
  /*padding-left: 200px;*/
}

.topbar {
  position: static;
}

.nav-header{
  font-size: 1.1em;
}

.nav-list{
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1em;
  a{color: #333;}
}

form {
  .buttons img {
    vertical-align: bottom;
  }
}

.playlist{
  li.listened{
    position: relative;
    padding-left: 30px;
    a{
      opacity: 0.3; 
      &:hover{opacity: 0.5;}
    }

    &:before{content: ''; position: absolute; top: -27px; left: -27px; border: 1em solid transparent; border-right-color: #fff;  height: 0; width: 0; -webkit-transform: rotate(45deg);}
  }
}

