$light_grey: #999;
$grey: #666;
$dark_grey: #333;

body{
  font-size: 100%;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.6875;
  background-image: linear-gradient(to bottom, #d0c6bd, #353430);
}

a{
  text-decoration: none;
}

.title{
  b{
  font-size: 1.5rem;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  color: $grey;
}
  span{
    display: block;
    clear: both;
    font-size: 0.8rem;
    color: $dark_grey;
  }
}


.bookmarklet{}

#main{
  @extend .span9;
}

#side{
  @extend .span3;
  margin-top: 100px;
}

.hero-unit{
  /*background: image-url('tape.png') 50px 50px no-repeat;*/
  /*padding-left: 200px;*/
}

.topbar {
  position: static;
}

.nav-header{
  font-size: 1.1em;
}

.nav-list{
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1em;
  a{color: #333;}
}

form {
  .buttons img {
    vertical-align: bottom;
  }
}


.player{
  padding: 2rem 0rem 2rem 5rem;
  line-height: 1.2;
  .play{
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
    border: 2rem solid $grey;
    border-left-width: 3rem;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
}

.playlist{
  background: transparent;
  margin: 0;
  padding: 0;

  li{
    list-style: none;
    position: relative;
    background: rgba(255,255,255,0.3);
    background-image: repeating-linear-gradient(45deg, transparent, transparent
    3px, rgba(255,255,255,.3) 3px, rgba(255,255,255,.3) 6px);
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;

    span{
      position: absolute;
      top: 0;
      right: 0.25rem;
      font-size: 0.6rem;
      color: $grey;
    }
  }

  dl{
    margin: 0;
    padding: 0;
    margin: 0;
    line-height: 1.1;
    dt{
      margin-right: 4rem;
    }
    dd{
      margin: 0;
      padding: 0;
      color: black;
      a{
        color: grey;
      }
    }
  }


  li.listened{
    position: relative;
    padding-left: 30px;
    a{
      opacity: 0.3;
      &:hover{opacity: 0.5;}
    }

    &:before{content: ''; position: absolute; top: -27px; left: -27px; border: 1em solid transparent; border-right-color: #fff;  height: 0; width: 0; -webkit-transform: rotate(45deg);}
  }
}

