@import 'refills/navigation';

.navigation{
  height: 40px;
  overflow: hidden;
}

.nav-header{
  font-size: 1.1em;
}

.nav-list{
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1em;
  a{color: #333;}
}
