.player{
  position: relative;
  padding: 2rem 0rem 2rem 7rem;
  line-height: 1.2;
  background-color: #fff;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: #ccc 0 2px 5px;
  margin-bottom: 1rem;

  .play{
    position: absolute;
    top: 0;
    left: 0;
  }

  .play:after{
    font-size: 5rem;
    line-height: 4.5rem;
    content: "\25B6";
    position: absolute;
    top: 2.5rem;
    left: 1rem;
    width: 5rem;
    height: 4rem;
    padding: 0;
    color: #000;
  }
  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8rem;
    height: 100%;
    display: block;
  }
}


.title{
  padding-right: 5rem;
  b{
    font-size: 2rem;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    color: $grey;
  }
  span{
    display: block;
    clear: both;
    font-size: 1.2rem;
    color: $dark_grey;
    font-weight: bold;
  }
}


