.player{
  padding: 2rem 0rem 2rem 5rem;
  line-height: 1.2;
  .play{
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
    border: 2rem solid $grey;
    border-left-width: 3rem;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    text-indent: -10000px;
  }
}


.title{
  b{
  font-size: 1.5rem;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  color: $grey;
}
  span{
    display: block;
    clear: both;
    font-size: 0.8rem;
    color: $dark_grey;
  }
}


